<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calmable">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CALMable">
        <activity
            android:name=".InstrumentalMusicActivity"
            android:exported="false" />
        <activity
            android:name=".LoveMusicActivity"
            android:exported="false" />
        <activity
            android:name=".HealingMusicActivity"
            android:exported="false" />
        <activity
            android:name=".SoundScapeMusicActivity"
            android:exported="false"
            android:label="Sound Scape"
            android:parentActivityName=".SleepyHome" />
        <activity
            android:name=".SleepStoryReadActivity"
            android:exported="false"
            android:label="Sleepy Stories"
            android:parentActivityName=".SleepyHome" />
        <activity
            android:name=".SleepStoryAudioActivity"
            android:exported="false"
            android:label="Sleepy Stories"
            android:parentActivityName=".SleepyHome" />
        <activity
            android:name=".ChillOutMusicActivity"
            android:exported="false"
            android:label="Chill Music" />
        <activity
            android:name=".PainReliefMusicActivity"
            android:exported="false"
            android:label="Pain Relief" />
        <activity
            android:name=".MeditateMusicActivity"
            android:exported="false" />
        <activity
            android:name=".NatureSoundsActivity"
            android:exported="false" />
        <activity
            android:name=".concentration_music"
            android:exported="false" />
        <activity
            android:name=".MusicPlayer"
            android:exported="false" />
        <activity
            android:name=".DeepRelaxMusicActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileMain"
            android:exported="false" />
        <activity
            android:name=".BreathLevel6"
            android:exported="true" />
        <activity
            android:name=".BreathLevel5"
            android:exported="true" />
        <activity
            android:name=".BreathLevel4"
            android:exported="true" />
        <activity
            android:name=".BreathLevel3"
            android:exported="true" />
        <activity
            android:name=".BreathLevel2"
            android:exported="true" />
        <activity
            android:name=".ReportYearly"
            android:exported="true"
            android:label="Yearly" />
        <activity
            android:name=".ReportMonthly"
            android:exported="true"
            android:label="Monthly" />
        <activity
            android:name=".BreathLevel1"
            android:exported="true" />
        <activity
            android:name=".ReportWeekly"
            android:exported="true"
            android:label="Weekly" />
        <activity
            android:name=".scan.ScanActivity"
            android:exported="true"
            android:label="Scan"
            android:parentActivityName=".Home" />
        <activity
            android:name=".ReportHome"
            android:exported="true"
            android:label="Report"
            android:parentActivityName=".Home" />
        <activity
            android:name=".device.DeviceActivity"
            android:exported="true"
            android:label="Device" />
        <activity
            android:name=".Challenge"
            android:exported="false" />
        <activity
            android:name=".Relax"
            android:exported="false" />
        <activity
            android:name=".Journal"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".AboutAppActivity"
            android:exported="true"
            android:label="About"
            android:parentActivityName=".ProfileMain" />
        <activity
            android:name=".RateUsActivity"
            android:exported="true"
            android:label="Rate Us"
            android:parentActivityName=".ProfileMain" />
        <activity
            android:name=".PremiumActivity"
            android:exported="true"
            android:label="Premium"
            android:parentActivityName=".ProfileMain" />
        <activity
            android:name=".CalenderActivity"
            android:exported="true"
            android:label="Calender"
            android:parentActivityName=".ProfileMain" />
        <activity
            android:name=".RemindersActivity"
            android:exported="true"
            android:label="Reminders"
            android:parentActivityName=".ProfileMain" />
        <activity
            android:name=".MyFavouritesActivity"
            android:exported="true"
            android:label="Favourites"
            android:parentActivityName=".ProfileMain" />
        <activity
            android:name=".MyDownloadsActivity"
            android:exported="true"
            android:label="Downloads"
            android:parentActivityName=".ProfileMain" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="true"
            android:label="Change Password"
            android:parentActivityName=".EditProfileActivity" />
        <activity
            android:name=".UserPreferences"
            android:exported="true"
            android:label="Preferences"
            android:parentActivityName=".RegisterUser" />
        <activity
            android:name=".BreathHome"
            android:exported="true" />
        <activity
            android:name=".HappyHome"
            android:exported="true" />
        <activity
            android:name=".MotivateHome"
            android:exported="true"
            android:label="Motivate"
            android:parentActivityName=".Home" />
        <activity
            android:name=".SleepyHome"
            android:exported="true"
            android:label="Sleepy"
            android:parentActivityName=".Home" />
        <activity
            android:name=".StressHome"
            android:exported="true"
            android:parentActivityName=".Home" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="CALMable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditProfileActivity"
            android:exported="true"
            android:label="Edit Profile"
            android:parentActivityName=".ProfileMain" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".forgotpw_otp.EnterNewPwActivity"
            android:exported="true"
            android:label="Password Reset" />
        <activity
            android:name=".forgotpw_otp.ForgetPwOtp"
            android:exported="true"
            android:label="Enter OTP" />
        <activity
            android:name=".forgotpw_otp.ForgetPwWithMobile"
            android:exported="true"
            android:label="Forgot Password" />
        <activity
            android:name=".ForgotPassword"
            android:exported="true"
            android:label="Forgot Password" />
        <activity
            android:name=".VerifyPhoneActivity"
            android:exported="true"
            android:label="Verify Account"
            android:parentActivityName=".EnterPhoneActivity" />
        <activity
            android:name=".RegisterUser"
            android:exported="true"
            android:label="Register" />
        <activity
            android:name=".EnterPhoneActivity"
            android:exported="true"
            android:parentActivityName=".RegisterUser" />
        <activity
            android:name=".LoginUserActivity"
            android:exported="true"
            android:label="Login" />
        <activity
            android:name=".NoteEditorActivity"
            android:exported="true"
            android:label="Note" />
        <activity
            android:name=".BreathActivity"
            android:exported="true"
            android:label="Breathing Exercises"
            android:parentActivityName=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name="com.crrepa.ble.trans.upgrade.NotificationActivity" />

        <service android:name="com.crrepa.ble.trans.upgrade.DfuService" />
        <service
            android:name=".services.MyFirebaseInstanceService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>