<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calmable">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CALMable">
        <activity
            android:name=".breathLevel6"
            android:exported="true" />
        <activity
            android:name=".breathLevel5"
            android:exported="true" />
        <activity
            android:name=".breathLevel4"
            android:exported="true" />
        <activity
            android:name=".breathLevel3"
            android:exported="true" />
        <activity
            android:name=".breathLevel2"
            android:exported="true" />
        <activity
            android:name=".ReportYearly"
            android:exported="true" />
        <activity
            android:name=".ReportMonthly"
            android:exported="true" />
        <activity
            android:name=".breathLevel1"
            android:exported="true" />
        <activity
            android:name=".ReportWeekly"
            android:exported="true" />
        <activity
            android:name=".reportHome"
            android:exported="true" />
        <activity
            android:name=".device.DeviceActivity"
            android:exported="true" />
        <activity
            android:name=".scan.ScanActivity"
            android:exported="true" />
        <activity
            android:name=".AboutAppActivity"
            android:exported="true" />
        <activity
            android:name=".RateUsActivity"
            android:exported="true" />
        <activity
            android:name=".PremiumActivity"
            android:exported="true" />
        <activity
            android:name=".CalenderActiivity"
            android:exported="true" />
        <activity
            android:name=".RemindersActivity"
            android:exported="true" />
        <activity
            android:name=".MyFavouritesActivity"
            android:exported="true" />
        <activity
            android:name=".MyDownloadsActivity"
            android:exported="true" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="true" />
        <activity
            android:name=".UserPreferences"
            android:exported="true" />
        <activity
            android:name=".breathHome"
            android:exported="true" />
        <activity
            android:name=".happyHome"
            android:exported="true" />
        <activity
            android:name=".motivateHome"
            android:exported="true" />
        <activity
            android:name=".sleepyHome"
            android:exported="true" />
        <activity
            android:name=".stressHome"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".BreathActivity"
            android:exported="true"
            android:label="Breathing Exercises"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MotivationActivity"
            android:exported="true"
            android:label="Motivation" />
        <activity
            android:name=".SleepyActivity"
            android:exported="true"
            android:label="Sleepy" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".forgotpw_otp.EnterNewPwActivity"
            android:exported="true"
            android:label="Password Reset" />
        <activity
            android:name=".forgotpw_otp.ForgetPwOtp"
            android:exported="true"
            android:label="Enter OTP" />
        <activity
            android:name=".forgotpw_otp.ForgetPwWithMobile"
            android:exported="true"
            android:label="Forgot Password" />
        <activity
            android:name=".ForgotPassword"
            android:exported="true"
            android:label="Forgot Password" />
        <activity
            android:name=".VerifyPhoneActivity"
            android:exported="true"
            android:label="Verify Account"
            android:parentActivityName=".EnterPhoneActivity" />
        <activity
            android:name=".RegisterUser"
            android:exported="true"
            android:label="Register" />
        <activity
            android:name=".EnterPhoneActivity"
            android:exported="true"
            android:parentActivityName=".RegisterUser" />
        <activity
            android:name=".LoginUserActivity"
            android:exported="true"
            android:label="Login" />
        <activity
            android:name=".NoteEditorActivity"
            android:exported="true"
            android:label="Note" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name="com.crrepa.ble.trans.upgrade.NotificationActivity" />

        <service android:name="com.crrepa.ble.trans.upgrade.DfuService" />
    </application>

</manifest>